// HEADER
$navbar-background-color: $crimson;
$navbar-height: 6rem;
$navbar-item-color: $white;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: lighten($crimson, 5%);
$navbar-item-img-max-height: 2.75rem;

// FORM
$control-radius: 0;