// HEADER
$navbar-background-color: $crimson;
$navbar-height: 6rem;
$navbar-item-color: $white;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: lighten($crimson, 5%);
$navbar-item-img-max-height: 2.75rem;

// FORM
$control-radius: 0;

// MISC
a.navbar-item.is-active:not(:hover), .navbar-link.is-active:not(:hover) {
  background-color: darken($crimson, 5%) !important;
}