.navbar {
  .columns {
    width: 100%;
    height: 6rem;
    margin: 0;
  }

  .column {
    padding: 0;
  }

  .navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    &.is-active {
      background-color: darken($crimson, 5%);
      color: $white;

      .lnr {
        font-size: 50px;
      }
    }

    .lnr {
      font-size: 35px;
    }
  }
}

#profile, #list, .location-page {
  .is-fullheight {
    min-height: calc(100vh - 6rem);
    height: calc(100vh - 6rem);
    overflow: auto;
  }
}

#profile, #list {
  .img-round {
    border-radius: 50%;
    border: 5px solid $champagne;
    object-fit: cover;
    margin: auto;
  }
}

#profile img {
  width: 200px;
  height: 200px;
}

#list {
  .hero-body {
    align-items: flex-start;
    padding: 1rem;
  }

  li:not(:last-child) {
    border-bottom: 1px solid $grey-lighter;
  }

  .location-summary {
    padding: 1rem .5rem;

    .column {
      padding: 1rem .5rem;
    }
  }

  img {
    width: 75px;
    height: 75px;
  }

  .location-info {
    display: flex;
    align-items: center;

    >div {
      width: 100%;
    }
  }
}

#list, .location-page {
  .discover-icon {
    color: $grey-light;
    font-weight: 400;
  }

  .title {
    margin-bottom: .25rem;
  }
}

.location-page {
  .columns {
    margin: 0;

    .column {
      padding: 0;
    }
  }

  .location-info {
    padding: 2rem;
  }

  .location-header {
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 2px solid $champagne;
  }

  .lnr {
    color: $carnation;
    margin-right: .5rem;
  }
}

.review {
  padding: 1.5rem 0;

  i {
    font-size: .8rem;
  }

  .subtitle {
    color: $grey !important;
    text-transform: uppercase;
    margin-bottom: .5rem;
  }
}

.review:not(:last-child) {
  border-bottom: 1px dotted $grey-light;
}

.filter {
  .tag {
    cursor: pointer;

    &:hover {
      background-color: $champagne;
      color: $white;
    }
  }
}
