.has-margin-top {
  margin-top: 1rem;
}

.has-margin-bottom {
  margin-bottom: 1rem;
}

.has-margin-left {
  margin-left: 1rem;
}

.has-margin-right {
  margin-right: 1rem;
}

.has-padding-top {
  padding-top: 1.5rem;
}

.has-padding-bottom {
  padding-bottom: 1.5rem;
}

.has-padding-left {
  padding-left: 1.5rem;
}

.has-padding-right {
  padding-right: 1.5rem;
}