// FONTS
$family-sans-serif: "Karla", sans-serif;

// COLORS
$crimson: #d13964;
$alabaster: #e6e6e6;
$carnation: #d38b9f;
$champagne: #dfced2;

$primary: $crimson;
$secondary: $alabaster;
$link: $primary;